<h1>Ejercicio clase 1</h1>
<div>
    <form action="">
        Edad Uno: <input class="form-control" type="text" placeholder="Ingrese edad uno" name="edadUno" id="" [(ngModel)]="edadUno">
        <br>
        Edad Dos: <input class="form-control" type="text" placeholder="Ingrese edad dos" name="edadDos" id="" [(ngModel)]="edadDos">
        <br>
        <input class="btn btn-outline-primary" type="button" value="Promedio" (click)="obtenerPromedio()">
        <input class="btn btn-outline-info" type="button" value="Suma" (click)="obtenerSuma()">
        <input class="btn btn-outline-secondary" type="button" value="Limpiar los cuadros de texto" (click)="limpiarCuadrosDeTextos()">
    </form>
    <br>
    Resultado: {{this.calculo}}
    <br>
</div>


<router-outlet></router-outlet> <!--permite poner dentro de está ruta distintos componentes. Permite navegar-->
<footer>Angular 2021</footer>